﻿@model IEnumerable<MyCompany.Models.Group>

@{
    ViewData["Title"] = "Details";
}

<h1>Список групп</h1>
<div>
    <a asp-action="Create" asp-controller="Groups" asp-route-id="@ViewBag.CourseID">Добавить группу</a>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.GroupName)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.GroupName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-controller="Groups" asp-route-id="@item.GroupID">Edit</a> |
                        <a asp-action="Details" asp-controller="Groups" asp-route-id="@item.GroupID">Details</a> |
                        <a asp-action="Delete" asp-controller="Groups" asp-route-id="@item.GroupID">Delete</a> |
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>