﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Greetings my friend</h1>
</div>

<div style="text-align:center">
    <img src="https://cs8.pikabu.ru/post_img/2016/03/09/9/145753726612217080.png" alt="Alternate Text" />
</div>

<div>
    <a href="/Courses">Список курсов</a>
</div>

<div>
    <a href="/Groups">Список групп</a>
</div>

<div>
    <a href="/Students">Список студентов</a>
</div>