﻿@model MyCompany.Models.Group

@{
    ViewData["Title"] = "Create";
}

<h1>Добавить группу</h1>

<h4>Group</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="CourseID" class="control-label"></label>*@
                <input type="hidden" asp-for="CourseID" />
                @*<select asp-for="CourseID" class="form-control" asp-items="@Model.CourseID" required></select>*@
            </div>
            <div class="form-group">
                <label asp-for="GroupName" class="control-label"></label>
                <input asp-for="GroupName" class="form-control" required />
                <span asp-validation-for="GroupName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

