﻿@model IEnumerable<MyCompany.Models.Student>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <a asp-action="Create" asp-controller="Students" asp-route-id="@ViewBag.GroupID">Добавить студента</a>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-controller="Students" asp-route-id="@item.StudentID">Edit</a> |
                        <a asp-action="Details" asp-controller="Students" asp-route-id="@item.StudentID">Details</a> |
                        <a asp-action="Delete" asp-controller="Students" asp-route-id="@item.StudentID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>