﻿@model IEnumerable<MyCompany.Models.Group>

@{
    ViewData["Title"] = "Index";
}

<h1>Список групп</h1>

@*<p>
    <a asp-action="Create">Добавить группу</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GroupName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GroupID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GroupID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GroupID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
